
html {
	background-color: #02011a;
/*background: url(./../../src/background.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./../../src/background.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='./../../src/background.jpg', sizingMethod='scale')";*/
}
body{
    background:none;
}
.text-secondary {
     color: #00ff73 !important; 
     /*font-size:20px;*/
     border-color: #007bff;
}

.bg-dark {

    /*background-color: rgb(6, 1, 27) !important;*/
   /* background-color: rgb(3, 28, 55) !important;*/
    background-color: #02011a !important;
    color: #ffffff;
}

.btn-light {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    font-weight: bold;
}

.hiddennow{
    display: none;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
    color: #ffffff !important;
    background-color: rgb(6, 1, 27);
    border-radius: 30px 30px 30px 30px;
    /*min-width: 500px;*/
}

.text-muted {
    color: #ffffff !important;
}

.card{
    border-radius: 30px !important;
}

.corp{
    text-align: center;
    color: #ffffff;
}

.btn-primary {
    color: #fff;
    background-color: #052a52;
    border-color: #007bff;
}

.pl-3, .px-3 {
    padding-left: 1rem !important;
    background-color: #052a52;
    padding: 10px;
    border-radius: 20px;
    border-color: #007bff;
}

.networkdefault{
    color: #00ff73;
    background-color: #052a52;
    border-color: #007bff;
    font-size: 12px;        
    padding: 0.5rem 1rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    
}

.btn:hover{
    color:#007bff;
}

button#addmeta {
    font-size: 12px;
    color: cyan;
    padding: 0.5rem 1rem;
    /* font-size: 1.25rem; */
    line-height: 1.5;
    border-radius: 0.3rem;
}

.eFHlqH.web3modal-provider-description {
    color: #f2f2f2;
    
}
.bktcUM.sc-web3modal-provider-name.mt-0 {
    color: #f2f2f2;
}
.web3modal-modal-card div#installMetaMask a:hover{
   text-decoration: none;
}

.immaginelogo{
    height: 60px;
    box-shadow: #00ff73 ;
}



@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 800;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/quicksand/v21/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkP8o58a-xDwxUD2GFw.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


h1.mainWordmark {
  font-family: Quicksand, serif;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 40px;
  font-weight: normal;
  color: #FFFFFF;
}

h4.mainHeader {
  font-family: Quicksand, serif;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  color: #FFFFFF;
}

a {
  color: #FFFFFF;
}

  /*        
h4.mainHeader {
  font-family: Quicksand, serif;
  text-align: left;
  margin-bottom: 0;
  font-size: 12px;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 260px;
}
*/




